name: Fuzz APWorld for Rabi-Ribi
on:
  push:
  pull_request:

jobs:
  fuzz:
    runs-on: ubuntu-latest
    steps:
      - uses: Eijebong/ap-actions/fuzz@main
        with:
          apworld-path: worlds/rabi_ribi
          ap-version: 'latest'
          python-version: '3.12'
          fuzzer-commit: f027bf2ebf8ceae5da75232112039e6f26da3e85
          runs: 500
          yamls-per-run: 3
          meta: "${{github.workspace}}/meta/fuzz_rabi_ribi.yaml"