name: Test APWorld for Rabi-Ribi
on:
  push:
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: Eijebong/ap-actions/ap-tests@main
        with:
          apworld-path: worlds/rabi_ribi
          ap-version: '0.6.6'
          python-version: '3.12'